/* Base Styles */

* {
	box-sizing: border-box;
}

#header-nav {
  border: 0;
  background-color: #FC5F06;
  color: #FFFFFF;
}


.navbar-brand  h1{
	padding:2px 0 2px 0;
	color: white;
	margin: 0 ;
}

.navbar-default .navbar-nav>li>a{
	color:blue;
	text-align: center;
	font-size: 30px;
 
}


.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
div > p {
	text-align: justify;
}

.content {
	background-color: pink;
	margin-bottom: 15px;
	padding: 10px 15px;
}

.content h2 {
	
	color: blue;
	margin-top: 5px;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}



#nav-list {
  color: white;
}



/*desktop and tablet view-*/
@media (min-width: 768px){
  #collapsable-nav{
  	visibility: hidden;
  }
  .navbar-nav>li>a {
  	padding-top: 15px;
  	padding-bottom: 15px;
  }
  
}

@media (max-width:767px){
	
	.navbar-brand {
		margin-left: 15px;
	}
	
	.content {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	#collapsable-nav {
		background-color: #BBEABB;
	}
	
	#nav-list {		
		margin-bottom: 1px;
		margin-top: 0px;
	}
	
	#nav-list li{
		text-align: center;
	
		margin-bottom:-1px;
	}
	#nav-list li:hover{
		font-weight: bold;
		background: none;
		
	}
}